<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Space</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      href="./icon/favicon.png"
      sizes="512x512"
    />
  </head>
  <body>
    <header>
      <div class="navbar-con">
        <div class="navbar">
          <a href="" class="title">Isi<span>Puru</span> </a>

          <nav>
            <ul class="nav-list">
              <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
              <li class="nav-item">
                <a href="#" class="nav-link">Favorite</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/Isshoo" class="nav-link"
                  >About Us</a
                >
              </li>
            </ul>
          </nav>

          <div class="nav-extra">
            <form class="search-bar">
              <input
                type="text"
                id="search"
                placeholder="Search"
                class="search"
              />
              <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="user-account">
              <a href="">
                <img
                  src="./images/heros/hero-image_1.jpg"
                  alt="User Profile"
                  class="profilepic"
                />
                <span>Isshoo</span>
              </a>
            </div>
            <!-- toggle button -->
            <button class="nav-toggle" id="nav-toggle">
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section id="Home" class="home">
        <div class="home-container">
          <div class="home-content">
            <h1>Find <span>Your Mom's</span> favorite restaurant!</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
              eleifend est. Sed in gravida purus. Donec ac tristique metus.
              Donec commodo, nisi sed mollis fermentum, justo ligula fringilla
              nisi, ac consectetur purus velit in est. Nulla facilisi. In
              pellentesque
            </p>
            <a href="#trending"
              >Find Now <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
          <div class="home-link">
            <ul>
              <li>
                <a href=""><i class="fa-brands fa-github"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="trending" class="trending">
        <div class="content container"></div>
      </section>
      <section id="movies"></section>
      <section id="anime"></section>
      <section id="tvshows"></section>
    </main>

    <footer>
      <div class="footerbar">
        <p>
          Copyright &copy; 2024 <a href="https://github.com/Isshoo">Isshoo</a>.
          - IsiPuru
        </p>
      </div>
    </footer>
  </body>
</html>
