<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Space</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      href="./icon/favicon.png"
      sizes="512x512"
    />
  </head>
  <body>
    <header>
      <header-bar></header-bar>
    </header>

    <main>
      <section id="home"><hero-section></hero-section></section>
      <section id="explore">
        <div class="explore-con">
          <div class="explore-title">
            <h2>Explore <span>Restaurant</span></h2>
          </div>
          <div class="explore-menu" id="explore-menu">
            <form id="searchForm">
              <input type="text" id="searchInput" placeholder="Cari Notes" />
              <button type="submit" id="searchSubmit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="explore-buttons">
              <div id="all-List" class="filter-btn">
                <select name="nameFilter" id="nameFilter">
                  <option value="All">All</option>
                  <option value="By Rating">By Rating</option>
                  <option value="By City">By City</option>
                </select>
                <span>
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
            </div>
          </div>
          <div id="resto-list">
            <article class="resto-card">
              <div class="resto-img">
                <img src="./images/heros/hero-image_4.jpg" alt="gambar resto" />
              </div>

              <div class="resto-info">
                <span>Malang</span>
                <h3>Bring Your Phone Cafe</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
              <div class="resto-rate">
                <i class="fa-solid fa-star"></i>
                <p>4.5</p>
              </div>
            </article>
            <article class="resto-card">
              <div class="resto-img">
                <img src="./images/heros/hero-image_4.jpg" alt="gambar resto" />
              </div>

              <div class="resto-info">
                <span>Malang</span>
                <h3>Bring Your Phone Cafe</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
              <div class="resto-rate">
                <i class="fa-solid fa-star"></i>
                <p>4.5</p>
              </div>
            </article>
            <article class="resto-card">
              <div class="resto-img">
                <img src="./images/heros/hero-image_4.jpg" alt="gambar resto" />
              </div>

              <div class="resto-info">
                <span>Malang</span>
                <h3>Bring Your Phone Cafe</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
              <div class="resto-rate">
                <i class="fa-solid fa-star"></i>
                <p>4.5</p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>

    <footer><footer-bar></footer-bar></footer>
  </body>
</html>
