<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Space</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      href="./icon/favicon.png"
      sizes="512x512"
    />
  </head>
  <body>
    <header>
      <header-bar></header-bar>
    </header>

    <main>
      <section id="home"><hero-section></hero-section></section>
      <section id="explore">
        <div class="explore-con">
          <div class="explore-title">
            <h2>Explore <span>Restaurant</span></h2>
          </div>
          <div class="explore-menu" id="explore-menu">
            <form id="searchForm">
              <input type="text" id="searchInput" placeholder="Cari Notes" />
              <button type="submit" id="searchSubmit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="explore-buttons">
              <div id="all-List" class="filter-btn">
                <select name="nameFilter" id="nameFilter">
                  <option value="All">All</option>
                  <option value="A to Z">By Rating</option>
                  <option value="Z to A">Z to A</option>
                </select>
                <span>
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </div>
            </div>
          </div>
          <div>explore list</div>
        </div>
      </section>
    </main>

    <footer><footer-bar></footer-bar></footer>
  </body>
</html>
